{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="intro-styling">
	<div class="team-name">
		<h3 class="team-title">N3code team</h3>
	</div>
	<div class="site-slogan">
		<p class="site-slogan-text"><b>Inspired to create and passionate to learn.</b></p>
	</div>
	<div class="we-are">
		<div data-aos="fade-up" class="we-are-container">
			<div class="we-are-title">
				<p><b>Who are we?</b></p>
			</div>
			<div class="we-are-text">
				<p>We are a group of student from around the world who want to learn the world of IT through collaborative projects.</p>
			</div>
		</div>
	</div>
</div>

<div class="meet-the-team">
	<div data-aos="fade-up" class="meet-the-team-title">
		<p><b>Meet the team</b></p>
	</div>
	<div class="meet-the-team-card-container">
		<div data-aos="fade-left" class="card">
		  <img src="{% static 'daniil-images/background1.svg' %}" alt="John" style="width:100%">
		  <h1>Daniil Lebedev</h1>
		  <p class="title">Co-funder, backend and fronend developer.</p>
		  <p>Dwight School London</p>
		  <a href="https://github.com/daniil-lebedev"><img src="https://img.icons8.com/wired/50/000000/github.png"/></a>
		  <a href="https://www.linkedin.com/in/daniil-lebedev-402ab61a6/"><img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png"/></a>
		  <a href="https://t.me/Daniil_Lebedev23"><img src="https://img.icons8.com/wired/50/000000/telegram-app.png"/></a>
		  <a href="{% url 'dannilPage' %}"><button>Visit page</button></a>
		</div>
		<div data-aos="fade-down" class="card">
		  <img src="{% static 'daniil-images/background1.svg' %}" alt="John" style="width:100%">
		  <h1>Sreejith</h1>
		  <p class="title">Your role and skills</p>
		  <p>Your school</p>
		  <a href="#"><img src="https://img.icons8.com/wired/50/000000/github.png"/></a>
		  <a href="#"><img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png"/></a>
		  <a href="#"><img src="https://img.icons8.com/wired/50/000000/telegram-app.png"/></a>
		  <a href="{% url 'sreejithPage' %}"><button>Visit page</button></a>
		</div>
		<div data-aos="fade-right" class="card">
		  <img src="{% static 'daniil-images/background1.svg' %}" alt="John" style="width:100%">
		  <h1>Renato</h1>
		  <p class="title">Your role and skills</p>
		  <p>Your school</p>
		  <a href="#"><img src="https://img.icons8.com/wired/50/000000/github.png"/></a>
		  <a href="#"><img src="https://img.icons8.com/ios/50/000000/linkedin-circled--v1.png"/></a>
		  <a href="#"><img src="https://img.icons8.com/wired/50/000000/telegram-app.png"/></a>
		  <a href="{% url 'renatoPage' %}"><button>Visit page</button></a>
		</div>
	</div>
</div>
{% endblock %}