{% extends 'base.html' %} {% load static %} {% block content %}

<!--Intro section-->
<div class="personal-welcome">
    <div class="personal-name">
        <p><b>Daniil Lebedev</b>
            <p>
    </div>

    <div class="personal-role">
        <p>Director</p>
        <span class="user-avatar"><img src="https://img.icons8.com/wired/250/000000/github.png"/></span>
    </div>

</div>

<div class="user-story">

    <div class="user-story-title">
        <p>My story</p>
        <div class="user-story-separator"></div>
    </div>

</div>


{% endblock %}