{% extends 'base.html' %} {% load static %} {% block content %}

<div class="aila-personal-welcome">
    <div class="aila-personal-name">
        <p><b>Aila Grant</b>
            <p>
    </div>

    <div class="aila-personal-role">
        <p>Tester</p>
        <span class="aila-avatar"><img src="https://img.icons8.com/wired/250/000000/github.png"/></span>
    </div>

</div>

<div class="aila-story">

    <div class="aila-story-title">
        <p>My story</p>
        <div data-aos="zoom-in" class="aila-story-separator"></div>
    </div>

    <div class="story-card-container">

        <div class="aila-story-card">

            <div class="aila-image-container">
                <img class="story-image" src="{% static 'daniil-images/rocket.png' %}">
            </div>

            <div class="aila-story-card-title">
                <p><b>Origin</b></p>
            </div>

            <div class="story-text-container">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>

        </div>

        <div class="aila-story-card">

            <div class="aila-image-container">
                <img class="story-image" src="{% static 'daniil-images/rocket.png' %}">
            </div>

            <div class="aila-story-card-title">
                <p><b>Origin</b></p>
            </div>

            <div class="story-text-container">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>

        </div>

        <div class="aila-story-card">

            <div class="aila-image-container">
                <img class="story-image" src="{% static 'daniil-images/rocket.png' %}">
            </div>

            <div class="aila-story-card-title">
                <p><b>Origin</b></p>
            </div>

            <div class="story-text-container">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            </div>

        </div>


    </div>

</div>

<div class="aila-skills">
    <div class="aila-skills-title">
        <p>My skills</p>
        <div data-aos="zoom-in" class="aila-skills-separator"></div>
    </div>

    <div class="personal-skills-container">
        <div class="aila-skills-card">
            <div class="skills-image-container">
                <img class="skills-image" src="{% static 'daniil-images/snake.png' %}">
            </div>

            <div class="skills-title">
                <p>Python</p>
            </div>

            <div class="skills-text-container">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                    book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            </div>

            <br>

            <a href="#"><button class="aila-skills-button">Project with skill</button></a>
        </div>

    </div>
</div>

<div class="aila-project-section">

    <div class="aila-personal-project-title">
        <p>Best project</p>
        <div data-aos="zoom-in" class="aila-personal-project-title-underline"></div>
    </div>


    <div class="aila-personal-project-card">

        <div class="aila-personal-project-card-title">
            <p>Hello World</p>
        </div>

        <div class="aila-personal-project-card-text">
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
    </div>

    <img data-aos="fade-down" class="laptop-image" src="{% static '\main-page\progamming-code-4k-nt_macbookpro15_front.png' %}">

</div>


{% endblock %}