{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="olly-intro-styling">
	<div data-aos="zoom-in" class="olly-intro-title">
		<p class="olly-intro-small-text">Designer and Programmer, Oliver.</p>
	</div>
	<div data-aos="zoom-in" class="separator"></div>
	<div data-aos="zoom in" class="olly-intro-small">
		<p class="olly-intro-small-text">My name is Oliver, I am currently in charge of the design of the programs here at N3, I am also a developer/programmer. I am passionate about coding useful programs in a variety of programming languages. My other skills outside of programming and design is Music which I hope to be the composer of future programs here at N3.
		</p>
	</div>
	<div class="meet-daniil">
	<div class="meet-daniil-title">
		<p><b>A little about me...</b></p>
	</div>
	<div  class="meet-daniil-card-container">
		<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background-color:#F79256;">
		  <img class="card-img-top" src="{% static 'olly-images/backgroundcontent.jpg' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">Where am I from?</h5>
		    <p class="card-text">I am from Moscow, Russia but I live in the UK. I lived here for almost 7 years now!</p>
		  </div>
		  <div class="card-body">
		  </div>
		</div>
		<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background-color:#F79256;">
		  <img class="card-img-top" src="{% static 'daniil-images/thinking.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My interests</h5>
		    <p class="card-text">I really like IT and history. I enjoy a bit of web design and anything to do with computer components.</p>
		  </div>
		  <div class="card-body">
		  </div>
		</div>
		<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background-color:#F79256;">
		  <img class="card-img-top" src="{% static 'daniil-images/school.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My education</h5>
		    <p class="card-text">I just graduated from Dwight School London and now I want to go to Newcastle University.</p>
		  </div>
		  <div class="card-body">
		  </div>
		</div>
		<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#FFFF;font-family: 'Cabin', sans-serif;background-color:#F79256;">
		  <img class="card-img-top" src="{% static 'daniil-images/tennis.png' %}" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title">My hobbies</h5>
		    <p class="card-text">I like to play tennis and golf at my free time. I also love to read history and programming books.</p>
		  </div>
		  <div class="card-body">
		  </div>
		</div>
	</div>
</div>
<div class="daniil-skills">
	<div class="meet-daniil-title">
		<p><b>My skills</b></p>
	</div>
		<div class="daniil-skills-container">

			<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px; border-radius: 25px; opacity: 90%;">
			  <img class="card-img-top" src="https://img.icons8.com/color/240/000000/python.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Python</h5>
			    <p class="card-text">Python was the first language that I learned and I am really proficient at it.</p>
			  </div>
			</div>

			<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px;border-radius: 25px; opacity: 90%;">
			  <img class="card-img-top" src="https://img.icons8.com/color/240/000000/html-5--v1.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">HTML and CSS</h5>
			    <p class="card-text">The next I learned was CSS and HTML. I am trying to get better but I believe that I have good enough about them.</p>
			  </div>
			</div>

			<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px;border-radius: 25px; opacity: 90%;">
			  <img class="card-img-top" src="https://img.icons8.com/color/240/000000/javascript.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">JS</h5>
			    <p class="card-text">JavaScript is something that I am still learning and trying to improve at, but my hard work is improving my skills dramatically.</p>
			  </div>
			</div>

			<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px;border-radius: 25px; opacity: 90%;">
			  <img class="card-img-top" src="https://img.icons8.com/plasticine/240/000000/oracle-pl-sql--v3.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">SQLite</h5>
			    <p class="card-text">Databases are complicated for me but I am doing my best to get as good as I can at them.</p>
			  </div>
			</div>

			<div data-aos="flip-right" class="card" style="width: 18rem; margin: auto; margin-top: 25px;margin-bottom: 25px;border-radius: 25px; opacity: 90%;">
			  <img class="card-img-top" src="https://img.icons8.com/color/240/000000/django.png" alt="Card image cap">
			  <div class="card-body">
			    <h5 class="card-title">Django</h5>
			    <p class="card-text">Databases are complicated for me but I am doing my best to get as good as I can at them.</p>
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="contact-me">
	<div class="contact-me-title">
		<p><b>Contact me</b></p>
	</div>
	<div class="contact-me-container">
		<span class="circle"><a href="https://github.com/daniil-lebedev"><img src="https://img.icons8.com/wired/256/000000/github.png"/></a></span>
		<span class="circle"><a href="https://www.linkedin.com/in/daniil-lebedev-402ab61a6/"><img src="https://img.icons8.com/ios/256/000000/linkedin-circled--v1.png"/></a></span>
		<span class="circle"><a href="https://t.me/Daniil_Lebedev23"><img src="https://img.icons8.com/wired/256/000000/telegram-app.png"/></a></span>
	</div>
</div>
{% endblock %}