{% extends 'base.html' %}

{% block content %}

<div class="renato-intro-styling">
	<div class="renato-intro-title">
		<p class="renato-intro-text">Welcome to my page!!!</p>
	</div>
	<div class="separator"></div>
	<!-- Add in profile pic using css class made in index.css -->
	<div class="renato-intro-small">
		<p class="renato-intro-small-text">My name is Renato and I am 18 years old. I'm really interested in creating short timed programs to test my knowledge on programming and help me write code much faster. <br><br>Get to know my better and interact with me via our blogs page</p>
	</div>
	<div class="separator"></div>
	<div class="renato-headers-text">Social Media</div>
	<div class="renato-social-media-format">
		<a href="https://www.linkedin.com/in/renato-f-604677181/" target="_blank">
			<i class="fab fa-linkedin"></i>
		</a>
		<a href="https://github.com/RenCos" target="_blank">
			<i class="fab fa-github"></i>
		</a>
		<a href="mailto:n3code.renato@gmail.com" target="_blank">
			<i class="far fa-envelope"></i>
		</a>
	</div>
	<br><br>
	<div class="renato-intro-small">
		<p class="renato-disclaimer-text">Disclaimer: This page will be updated on an irregular bases therefore new content may not be published often</p>
</div>

<div class="meet-the-team"></div>

{% endblock %}
