{% extends 'base.html' %} 

{% load static %} 

{% block content %}
    <!--Color error!-->
    <h1 style="color:#00000">
        <center><b>WELCOME TO MY PERSONAL PAGE</b></center>
    </h1>
    <!--What does this do?-->
    <div class="seperator">
    <div>
    <div class="sreejith-intro-styling">
        <div class="sreejith-intro-title" <p class="sreejith-intro-text" style=""><b>WHO AM I?</b></p>
        </div>
        <div class="seperator"></div>
        <div class="sreejith-into-small">
            <p class="sreejith-intro-small-text" style="color:#000000;font-family:verdana;"><b>I'm Sreejith Kalathil, 18 years old and a computer science student.My interest is to code and program using different languages and create various interefaces that could benifit the public. Currently seeking more knowledge in the subject to be a professional in the future.<br><br><br>If you've similar interest, fell free to check out our blog, where we share intriguing articles about the subject.</b></p>
        </div>
    </div>
    <!--Card container had no cards and because of that the cards appear in the wrong order missing a whole section. I tried to fix it but I am not sure what exactle you wan to do.-->

    <!--Better to use margin instead of pushing everything using line breaker-->
    <!--The images were not included and because of that cards don't load them-->
    <br><br><br>
    
    <div class="meet-daniil">
        <div class="meet-sreejith-title">
            <p><b>Some things you should know about me</b></p>
        </div>
        <div  class="meet-daniil-card-container">
            <div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#000000;font-family: 'Cabin', sans-serif;background-color:#A8EB12;">
                <img class="card-img-top" src="{% static 'sreejith-images/flag.png'}" alt="photo not loaded">
                <div class="card-body">
                    <h5 class="card-title" style="color:#000000;">
                        <center>IDENTITY CHECK</center>
                    </h5>
                    <p class="card-text">My life started on 21st Oct,from a small and wide INDIAN family.I'm exploring around and reached down at UK for college at NEWCASTLE UNIVERSITY, class of 2021.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#000000;font-family: 'Cabin', sans-serif;background-color:#A8EB12;">
                <img class="card-img-top" src="{% static 'sreejith-images/aims.png'}" alt="future pred">
                <div class="card-body">
                    <h5 class="card-title" style="color:#000000;">
                        <center>MY AIMS AND INTEREST</center>
                    </h5>
                    <p class="card-text">I aim to create a revolutionary software which could benefit the whole world. My interst is reiewing and studying various new technologies. </p>
                </div>
            </div>

            <div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#000000;font-family: 'Cabin', sans-serif;background-color:#A8EB12;">
                <img class="card-img-top" src="{% static 'sreejith-images/qualifications.png' %}" alt="Education">
                <div class="card-body">
                    <h5 class="card-title" class="color:#000000;">
                        <center>MY QUALIFICATIONS</center>
                    </h5>
                    <p class="card-text">I've secured A*AA in A-Levels and I'll be pursuing computer science from Newcastle University.</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="outset-colored">
        <ul>
            <li>
                <!--center the element using css like margin:auto-->
                <center>
                    <!--Should include icons insted of writting for social media because that will make it easer for users to click and understand-->
                    <a href="https://www.linkedin.com/in/sreejith-kalathil-b644871a7/" title="My LinkedIn Page" class="linkedin">
                        <img src="images/linkedin_white.png" alt="LinkedIn icon" />
                        <span class="site">LinkedIn</span>
                    </a>
                </center>
            </li>
            <li>
                <center>
                    <a href="https://www.facebook.com/sreejith.kalathil.7/" title="My Facebook Page" class="facebook">
                        <img src="images/facebook_white.png" alt="Facebook icon" />
                        <span class="site">Facebook</span>
                    </a>
                </center>
            </li>
            <li>
                <center>
                    <a href="https://twitter.com/SreejithKalath4" title="My Twitter Page" class="twitter">
                        <img src="images/twitter_white.png" alt="Twitter icon" />
                        <span class="site">Twitter</span>
                    </a>
                </center>
            </li>
            <li>
                <center>
                    <a href="https://www.instagram.com/sreejith._.kalathil/" title="My instagram Page" class="flickr">
                        <img src="images/instagram_white.png" alt="instagram icon" />
                        <span class="site">Instagram</span>
                    </a>
                </center>
            </li>
        </ul>
    </div>




    <br><br>

{% endblock %}