{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
<h1 style="color:#F6002B"><center><b>WELCOME TO MY PERSONAL PAGE..</center></b></h1>
<div class="sreejith-intro-styling">
	<div class="sreejith-intro-title"
		<p class="sreejith-intro-text"style="">*WHO AM I?</p>
	</div>
	<div class="seperator"></div>
	<div class="sreejith-into-small">
		<p class="sreejith-intro-small-text"style="color:#FFFFFF;font-family:verdana;"><b>I'm Sreejith Kalathil, !8 years old and a computer science student.My interest is to code and program using different languages and create various interefaces that could benifit the public. Currently seeking more knowledge in the subject to be a professional in the future.<br><br><br>If you've similar interest, fell free to check out our blog, where we share intriguing articles about the subject.
		</b></p>
	</div>
	<br><br><br>
	<div class="about-me"
	<div class="about-me-title">
		<p><b>Something you should know about me:</b></p>
	</div>
	<div class="about-me-card-container">
		<div class="card" style="width: 25rem; margin: auto; border-radius= 30px; margin-top:30px;margin-bottom:30px;color:#000000;font-family: 'Garamond',serif;background-color:#F79256;
			<img class="card-img-top: src="{% static 'sreejith-images/Flag-India.jpg}" 
			<div class="card-body">
				<h5 class="card-title" style="color:#232022;font-size: 40px;"><center>IDENTITY CHECK  </center></h5>
				<p class="card-text">My life started on 21st Oct,from a small and wide INDIAN family.I'm exploring around and reached down at UK for college at NEWCASTLE UNIVERSITY, class of 2021.</p>
			</div>
			</div>
	</div>
</div>
		<div class="we-are-container">
		</div>
	</div>
</div>
<br><br><br>

<div class="meet-the-group"></div>
{% endblock %}
