{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1 style="color:#FFFFFF"><center><b>WELCOME TO MY PERSONAL PAGE</center></b></h1>
<h1 class="seperator"></h1>
<div class="sreejith-intro-styling">
	<div class="sreejith-intro-title"
		<p class="sreejith-intro-text"style=""><b>WHO AM I?</b></p>
	</div>
	<div class="seperator"></div>
	<div class="sreejith-into-small">
		<p class="sreejith-intro-small-text"style="color:#FFFFFF;font-family:verdana;font-size: 24px"><b>I'm Sreejith Kalathil, 18 years old and a computer science student.My interest is to code and program using different languages and create various interefaces that could benifit the public. Currently seeking more knowledge in the subject to be a professional in the future.<br><br><br>If you've similar interest, fell free to check out our blog, where we share intriguing articles about the subject.</b></p>
	</div>
	<br><br><br>
	<div class="about-me"
	<div class="about-me-title">
		<p style="font-size: 27px"><b><center>Something you should know about me:</center></b></p>
	</div>
	<div class="about-me-card-container">
		<div class="card"style="width: 18rem; margin: auto; border-radius= 25px; margin-top:25px;margin-bottom:25px;color:#000000;font-family: 'Cabin',serif;background-color:#A8EB12;">
			<img class="card-img-top" src="{% static 'sreejith-images/flag.png'}" alt="half flags">
			<div class="card-body">
				<h5 class="card-title" style="color:#232022;font-size: 30px;"><center>IDENTITY CHECK  </center></h5>
				<p class="card-text">My life started on 21st Oct,from a small and wide INDIAN family.I'm exploring around and reached down at UK for college at NEWCASTLE UNIVERSITY, class of 2021.</p>
			</div>
			<div class="card-body"></div>
			</div>
	</div>
	<div class="card"style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#000000;font-family: 'Cabin', sans-serif;background-color:#A8EB12;">
		<img class="card-img-top" src="{% static 'sreejith-images/aims.png'}" alt="future pred">
		<div class="card-body">
			<h5 class="card-title" style="color:#000000;font-size: 30px"><center>MY AIMS AND INTEREST</center></h5>
			<p class="card-text">I aim to create a revolutionary software which could benefit the whole world. My interst is reiewing and studying various new technologies. </p>
		</div>
		<div class="card-body"></div>
	</div>
	<div class="card" style="width: 18rem; margin: auto; border-radius: 25px; margin-top:25px;margin-bottom: 25px; color:#000000;font-family: 'Cabin', sans-serif;background-color:#A8EB12;">
		<img class="card-img-top" src="{% static 'sreejith-images/qualifications.png' %}" alt="Education">
		<div class="card-body">
			<h5 class="card-title"class="color:#000000;font-size: 30px"><center>MY QUALIFICATIONS</center></h5>
			<p class="card-text">I've secured A*AA in A-Levels and I'll be pursuing computer science from Newcastle University.</p>
		</div>
		<div class="card-body"></div>
	</div>
</div>
<div class="outset-colored">
  <ul>
    <li>
    	<center>
      <a href="https://www.linkedin.com/in/sreejith-kalathil-b644871a7/" title="My LinkedIn Page" class="linkedin">
        <img src="images/linkedin_white.png" alt="LinkedIn icon" />
        <span class="site">LinkedIn</span>
      </a>
    </center>
    </li>
    <li>
    	<center>
      <a href="https://www.facebook.com/sreejith.kalathil.7/" title="My Facebook Page" class="facebook">
        <img src="images/facebook_white.png" alt="Facebook icon" />
        <span class="site">Facebook</span>
      </a>
    </center>
    </li>
    <li>
    	<center>
      <a href="https://twitter.com/SreejithKalath4" title="My Twitter Page" class="twitter">
        <img src="images/twitter_white.png" alt="Twitter icon" />
        <span class="site">Twitter</span>
      </a>
    </center>
    </li>
    <li>
    	<center>
      <a href="https://www.instagram.com/sreejith._.kalathil/" title="My instagram Page" class="flickr">
        <img src="images/instagram_white.png" alt="instagram icon" />
        <span class="site">Instagram</span>
      </a>
    </center>
    </li>
  </ul>
</div>

		<div class="we-are-container">
		</div>
	</div>
</div>
<br><br><br>

<div class="meet-the-group"></div>
{% endblock %}
